* {
    box-sizing: border-box;
    background-color: rgb(241, 104, 50);
    background-image: linear-gradient(120deg, rgb(74, 218, 122), rgb(55, 119, 179), rgb(207, 99, 193));
}

h1 {
    text-align: center;
    font-family: 'Sofia';
    font-size: 60px;
    color: rgba(233, 219, 22, 0.849);
}

.img-slide {
    align-content: center;
    display: none;
} 

.slideshow-container {
    box-shadow: 0 4px 8px 0 rgba(28, 202, 144, 0.281), 0 6px 20px 0 rgba(28, 202, 144, 0.281);
    text-align: center;
    max-width: 800px;
    position: relative;
    margin: auto;
}


.quote {
    text-align: center;
    word-spacing: 10px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

h2 {
    font-family: 'Anonymous Pro', sans-serif;
    text-indent: 90px;
    font-size: 60px;
    color: rgb(13, 13, 14);
}


.container {
    width: 80%;
    padding-left: 70px;
    padding-right: 25px;
    margin-bottom: 20px;
}

.content {
    padding: 20px 30px;
    background: rgb(241, 152, 152);
    position: relative;
    border-radius: 6px;
}

h3 {
    background: rgb(241, 152, 152);
}

a {
    background: wheat;
}
