* {
    box-sizing: border-box;
    background-color: rgb(241, 104, 50);
    background-image: linear-gradient(120deg, rgb(74, 218, 122), rgb(55, 119, 179), rgb(207, 99, 193));
}

h1 {
    text-align: center;
    font-family: 'Sofia';
    font-size: 60px;
    color: rgb(57, 26, 128);
}

.img-slide {
    align-content: center;
    display: none;
} 

.slideshow-container {
    box-shadow: 0 4px 8px 0 rgba(28, 202, 144, 0.281), 0 6px 20px 0 rgba(28, 202, 144, 0.281);
    text-align: center;
    max-width: 800px;
    position: relative;
    margin: auto;
}


.quote {
    text-align: center;
    font-family: 'Amarante';
    font-size: 22px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
